<% thebot.data = thebot %>
<%- include('../blocks/header', { bot, user, title: thebot.data.name, embedding: { default: false } }) %>
<% const htmlFor = {
  "online": "Online",
  "idle": "Idle",
  "dnd": "DND",
  "offline": "Offline"
}; %>

 <% if (alertSuccess) { %>
  <div style="margin-left: 10%; margin-right: 10%;" class="alert alert-success" role="alert">
    <%- alertSuccess %>
  </div>
<% } %>

<% if (alertFail) { %>
  <div style="margin-left: 10%; margin-right: 10%;" class="alert alert-danger" role="alert">
    <%- alertFail %>
  </div>
<% } %>

<style media="screen">
.btn {
	margin-top: 0px !important
}
</style>

<div class="container" style="margin-top: 30px; border-radius: 2px 2px 2px 2px!important; width: 100%;">
    <div class="profile-head main-bkg-a ">
        <div class="col-md- col-sm-4 col-xs-12">
            <img src="<%= bot.users.get(thebot.id).displayAvatarURL({size:512,format:'png'}) %>" class="img-responsive rounded-circle p-1"/>
					<center>
						<h6><%= thebot.data.name %></h6>
						<span class="<%= bot.users.get(thebot.id).presence.status %>">• <%= htmlFor[bot.users.get(thebot.id).presence.status] %></span>
						<span class="btn btn-lg" style="margin-top:0px;margin-bottom:0px;"><i class="fas fa-chevron-up"></i>  <%= thebot.data.upvotes.toLocaleString() %></span><br>
						<p></p>	<p></p>
						<a class="label label-primary" style="color:white; background-color: #184f57;"><%= thebot.data.serverCount %> Servers</a>
						<a class="label label-primary" style="color:white; background-color: #184f57;"><%= thebot.data.shardCount %> Shard(s)</a><br>
						<% if(user && thebot.data.mainOwner == user.id || user && thebot.data.owners.includes(user.id) ) { %>
						<p></p>	<p></p>
						<a class="btn w-25" href="/bot/<%= thebot.data.id %>/delete" style=" background-color: #dc3545;"><span class="fa fa-trash"></span> Delete</a>
						<a class="btn w-25" style=" background-color: #ffc107;" href="/bot/<%= thebot.data.id %>/edit"><span class="fa fa-pencil"></span> Edit</a>
				  	<% }; %>
					</center>

        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
            <h5><%= thebot.data.name %></h5>
						<p><% if (thebot.data.certified === true) { %> Certified Bot <% } else { %> Bot <% } %></p>
            <ul>
                <li><p style="word-break: break-word;color:white;"></p><%= thebot.data.shortDesc %></li>
                <li><p style="color:white;">Bot Prefix: <span><code><%= thebot.data.prefix %></code></span></p></li>
								<li><p>Library: <span><code><%= thebot.data.library %></code></p></li>
						    <li><% if(thebot.data.website !== "none" ) {%>
									<button  onclick="window.location.href = '<%= thebot.data.website %>';" style=" background-color: #184f57;" type="button" class="btn">Visit Website</button>
				<% }%>
        <% if(thebot.data.github !== "none" ) {%>
          <button  onclick="window.location.href = '<%= thebot.data.website %>';" style=" background-color: #184f57;" type="button" class="btn">Visit GitHub</button>
        <% }%>
				<button  onclick="window.location.href = '<%= thebot.data.server %>';" style=" background-color: #184f57;"type="button" class="btn">Join Server</button></li>
				<li>
          <a href="<%= thebot.data.invite %>" style=" background-color: #184f57;" class="btn w-25">Invite</a>
          <a href='/bot/<%= thebot.data.id %>/vote' cmethod="post" type="text" value="vote" style="  background-color: #184f57;" class="btn w-25">Vote</a>
          <a  style="background-color: #184f57; padding:  10px 5px;" class="btn w-25" data-toggle="modal" data-target="#reportModal">Report</a>
        </li>
			</ul>
					</div>
    </div>
</div>
<br/>
<br/>
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
   <div class="modal-content main-bkg">
     <div class="modal-header">
         <h2 class="modal-title" id="exampleModalLongTitle" style="color: #fff;"><i class="fas fa-flag"></i> Report:</h2>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       <form method="post" action="/bot/<%= thebot.data.id %>">
         <div class="form-group">
           <input type="text" name="name" value="report" style="display: none;">
           <label for="reportReason">Reason: </label>
           <input type="text" class="form-control" id="reportReason" aria-describedby="reportHelp" name="reason" placeholder="Bot's help command is not working." required>
           <small id="reportHelp" class="form-text text-muted" style="color: red!important;">We reserve rights to decline any report with or without checking the bot.</small><br>
           <p><strong>NOTE:</strong> You have to be logged in order to submit the report, make sure you are logged in otherwise you'll be redirected to login page and then you'll have to fill report again.</p>
             <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" aria-label="Close" style="width: 49%;">Abort</button>
             <button type="submit" class="btn btn-success btn-lg" style="width: 49%; float: right;">Report</button>
         </div>

       </form>
   </div>
 </div>
</div>
</div>
<div class="container1" style="border-radius: 20px;padding: 2%;width: 100%;">
    <div class="">
        <div data-spy="scroll" class="tabbable-panel">
            <div class="tabbable-line" style="background-color: inherit;">
                <div class=""style="border-radius: 5px;">
                    <div class="tab-pane active" id="tab_default_1">
                        <div class=" main-bkg well-sm" style="border-radius: 5px;margin: 1%; color: #ffffff;">
                          <h5  style="font-size:20px; ">Tags:</h5>
														<% for (var i = 0; i < thebot.data.tags.length; i++) {
															var tag = thebot.data.tags[i]
														%>
														<a style="background-color: #184f57; font-size: 14px;" class="badge badge-success" href="/tags/<%=tag%>"><i class="fas fa-tag"></i> <%=tag%></a>
														<%  }; %>
														<h5  style="font-size:20px; ">Developers:</h5>
														<span onclick="window.location.href ='/profile/<%= thebot.data.mainOwner %>'" class="badge badge-success" style="font-size: 14px; background-color:#0c272a;"><img style="width: 16px; height: 16px;" src='<%= bot.users.get(thebot.data.mainOwner) ? bot.users.get(thebot.data.mainOwner).displayAvatarURL({ size: 16 }) : "/public/img/default.png" %>' class="img-raised rounded-circle img-fluid"> <%= bot.users.get(thebot.data.mainOwner) ? bot.users.get(thebot.data.mainOwner).tag : "Unknown#0000" %></span>
														<% for (var i = 0; i < thebot.data.owners.length; i++) {
															var owner = bot.users.get(thebot.data.owners[i]) ? bot.users.get(thebot.data.owners[i]).tag : "Unknown#0000"
														%>
															<span onclick="window.location.href ='/profile/<%= thebot.data.owners[i] %>'" class="badge badge-success" style="font-size: 14px; background-color:#0c272a;"><img style="width: 16px; height: 16px;" src='<%= bot.users.get(thebot.data.owners[i]) ? bot.users.get(thebot.data.owners[i]).displayAvatarURL({ size: 16 }) : "/public/img/default.png" %>' class="img-raised rounded-circle img-fluid"> <%= owner %></span>
															<%  }; %>
                            <h3 style="font-size:20px;">Description:</h3>
                            <span style="max-width: 700px; word-break: break-word;"><%- thebot.data.longDesc %></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
				<br/>
 <div><center><img  onclick="window.location.href ='/contact'" style="width:59vw;height:6.91vw;margin-bottom: 30px" src="https://www.resistivetechnosource.com/images/your_banner_here.png"></center></img></div>

<%- include('../blocks/footer') %>
