<%- include('blocks/header', { bot, user, title: "Home" }) %>
<!DOCTYPE html>
<html>
<head>
<style>
body{
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
        background: url("https://i.imgur.com/eS4IxK3.png") center center no-repeat;
        background-size: cover;
      }
.bg-primary {
        background-color: #26272b!important;
    }
.main-section{
	font-family: 'Abel', sans-serif;
    margin-top: 100px;
    margin-bottom:30px;

}
.detail-part{
    margin-bottom: 30px;
}
.image-part{
	background-color: #fff;
    box-shadow:10px 10px 5px black;

}
.image-part .bot-img img{
	width:50%;
    margin-top:30px;

}
.devloper {
	cursor: pointer;
}
.bot-name h2{
	margin-top:10px;
	font-size:22px;
	font-weight: bold;
	letter-spacing: 2px;
}
.information-button{
	margin-bottom:5px; 
}
.bot-name p{
	font-size:20px;
}
.bot-detail p{
	color:black;
	padding-left:30px;
	margin:5px;
}
.icon-section{
	margin:5px 0px;
	padding-bottom:10px;
}
.icon-section i{
	margin:0px 5px;
	background-color:#d2d2d2;
	color:black;
	border-radius: 50%;
	height:25px;
	width: 25px;
	padding-top:4px;
}
.bot-detail span{
	color:#b2b2b2;
}
.tab-head{
	padding: 10px;
}
.tab-content{
	padding-bottom: 10px;
}
.about-detail h5{
	margin-top: 10px;
}
.about-detail .website{
	margin-top:6px;
}
.contact-detail p{
	color:black;
	margin:5px;
}
.online {
color: #42b581;
}

.idle {
color: #faa61a;
}

.dnd {
color: #f04747;
}

.offline {
color: #747f8d;
}
</style>
<%
const htmlFor = {
  "online": "Online",
  "idle": "Idle",
  "dnd": "DND",
  "offline": "Offline"
};
%>
	  <title><%= thebot.data.name %></title>
	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" type="text/css" href="custom.css">
	  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
</body>
	<div class="container main-section pt-20">
		<div class="row">
			<div class="col-lg-4 col-sm-12 col-12 text-center detail-part">
				<div class="row image-part m-0">
					<div class="col-lg-12 col-sm-12 col-12 bot-img">
						<div class="">
							<img src="<%= bot.users.get(thebot.id).displayAvatarURL({size:512,format:"png"}) %>" class="border rounded-circle p-1">
						</div>
					</div>
					<div class="col-lg-12 col-sm-12 col-12 bot-name">
						<h2><%= thebot.data.name %></h2>
						<a class="btn btn"><span class="fa fa-angle-up"></span>  <%= thebot.data.upvotes.toLocaleString() %></a>
                        <i class="<%= bot.users.get(thebot.id).presence.status %>">• <%= htmlFor[bot.users.get(thebot.id).presence.status] %></i>
						<p><%= thebot.data.library %></p>
					</div>
					<div class="col-lg-12 col-sm-12 col-12 information-button">
						<a href="<%= thebot.data.invite %>" class="btn btn-success w-25">Invite</a>
						<a href="/bot/<%= thebot.data.id %>/vote" class="btn btn-danger w-25">Vote</a>
					</div>
					<div class="col-lg-12 col-sm-12 col-12 bot-detail text-left p-2">
						<p style="word-break: break-word;"><%= thebot.data.shortDesc %><p>Bot Prefix: <span><code><%= thebot.data.prefix %></code></span></p>

					</div>
					<div class="col-lg-12 col-sm-12 col-12 icon-section">
							<% if(thebot.data.website !== "none") {%>
                    <button  onclick="window.location.href = '<%= thebot.data.website %>';" type="button" class="btn btn-secondary">Visit Website</button>
					<% }%>
					<button  onclick="window.location.href = '<%= thebot.data.server %>';" type="button" class="btn btn-secondary">Join Server</button>
                                            <p></p>
                    <button type="button"  onclick="window.location.href = '/report/<%= thebot.data.id %>';" class="btn btn-dark">Report</button>
						<a class="btn btn-success"><span></span><%= thebot.data.serverCount %> Servers</a>
                        <a class="btn btn-success"><span></span><%= thebot.data.shardCount %> Shard(s)</a>
                        <p></p>
						<a ><i class="fa fa-tag" aria-hidden="true"></i></a>
						<% for (var i = 0; i < thebot.data.tags.length; i++) {
							var tag = thebot.data.tags[i]
							%>	
						<a href="/tags/<%=tag%>"><%=tag%></a>
					
						<%  }; %>
							 <p></p>
							 <% //if(thebot.data.owner == IDK how to get the connected user id) {%>
                    <a class="btn btn-danger" href="/bot/<%= thebot.data.id %>/delete"><span class="fa fa-trash"></span> Delete</a>
                    <a class="btn btn-primary" href="/bot/<%= thebot.data.id %>/edit"><span class="fa fa-pencil"></span>Edit</a>
</div>	 	<% // }; %>
				</div>
			</div>
			<div class="col-lg-8 detail-part">
				<div class="container">
          <div class="row">

            <div class="col-lg-12 bg-white">   
              <div class="tab-content mt-4" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                       
                        <div class="col-lg-12 mt-2 about-detail">
														<h5 class="text-primary mb-1">Developers</h5>
														<span onclick="window.location.href ='/profiles/<%= thebot.data.mainOwner %>'" class="devloper"><kbd><%= bot.users.get(thebot.data.mainOwner).tag %> 👑</kbd></span>
														<% for (var i = 0; i < thebot.data.owners.length; i++) {
															var owner = bot.users.get(thebot.data.owners[i]).tag
														%>
															<span onclick="window.location.href ='/profiles/<%= thebot.data.owners[i] %>'" class="devloper"><kbd><%= owner %></kbd></span>
															<%  }; %>
                            <h5>Description :</h5>
                            <span style="max-width: 700px; word-break: break-word;"><code><%= thebot.data.longDesc %></code></span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
	</div>
<body>
</html>
<%- include('blocks/footer') %>

