<%- include('blocks/header', { bot, user, title: `${discordUser.username}'s Profile` }) %>



<script>
    $(window).scroll(function(){
      $("#bgd").css("opacity", 1 - $(window).scrollTop() / 1000);
    });
  </script>

<!------ Include the above in your HEAD tag ---------->
<div class="container profile ">
  <div class="row">
    <div class="span12">
      <div class="well well-small clearfix  hero-bkg-animated"style="color:white;box-shadow:5px 5px 5px black">
        <div class="row-fluid">
          <div class="span2">
             <img src="<%= bot.users.get(discordUser.id).displayAvatarURL({ size:512 }); %>" class="img-raised rounded-circle img-fluid"/>         
          </div>
          <div class="span4">
             <h2><%=discordUser.username%></h2> 
            <ul class="unstyled">
                <% if (profile.certifiedDev) {%>
                  <li><i class="icon-keyboard"></i>Certified Developer</li>
                <% } else {%>
                  <li><i class="icon-keyboard"></i> Developer</li>
           <% }  %>
              <li><i class="fab fa-discord"></i> <%=discordUser.tag%></li>      

              <li><i class="icon-pencil"></i> <%=profile.bio%></li>
              <br>
              <a href="#" class="fa fa-github"></a>
              <a href="#" class="fa fa-globe"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-reddit"></a>
            </ul>
          </div>
          <div class="span6">
          <ul class="inline stats">
               <li>
                 <span><%= bots.length %></span>
                 Bots
              </li>
              <li>
                 <span><%= profile.karma %></span>
                 Karma
              </li>
               <li>
                 <span>12</span>
                 Rank
              </li>
          </ul>
            <div><!--/span6-->
            </div><!--/row-->
      </div>
      <!--Body content-->
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>


<div class="container1 main-bkg" style="margin-left: 3%; margin-right: 3%;margin-top: 70px;margin-bottom: 20px;box-shadow:0 8px 16px 0 rgba(0, 0, 0, 1.2); color: #fff; border-radius: 30px">

<% if (bots.length == 0) { %>
    <div><center>
      <p></p><br>
<p style="font-size: 25px; padding: 10px"><i class="fas fa-walking"></i>  This user hasn't listed any bots yet.</p>
<p></p><br>
</center>
</div>
<%} else {%>
  <div style="padding: 35px 20px 20px 35px">
      <div class="row">
        <% bots.forEach(theBot => { if (!bot.users.get(theBot.id)) bot.users.get(theBot.id) = { presence: { status: "offline" }, username: theBot.name  } %>
          <%- include("blocks/card.ejs", { theBot, bot }); %>
        <% }); %>
      </div>
      </div>
      </div>
<%}%>
</div>


<!--<div ><center><img  onclick="window.location.href ='/contact'" style="width:728px;height:90px;margin-bottom: 30px" src="https://www.resistivetechnosource.com/images/your_banner_here.png"></center></img></div>-->
<%- include('blocks/footer') %>
