<%- include('blocks/header', { bot, user, title: `${discordUser.username}'s Profile` }) %>
<center>
  <div class="parent">
    <div class="con">
      <div class="con2">
        <div class="follow">
          <h3 class="followNum"></h3>
          <h3 class="followH"></h3>
        </div>
        <div class="faceCon">
       
        <img src="<%= bot.users.get(discordUser.id).displayAvatarURL({ size:512 }); %>" class="img-raised rounded-circle"/></img>         
     
      </div>
       
        <div class="following">
          <h3 class="followingNum"></h3>
          <h3 class="followingH"></h3>
        </div>
      </div>
  
      <div class="con3">
        <div class="nl">
          <h3 class="name"> <i class="fab fa-discord"></i> <%=discordUser.tag%></h3>
          <% if (profile.certifiedDev) {%>
            <h3 class="loca">Certified developer</h3>
            <% } else {%>
              <h3 class="loca">Developer</h3>
              <% }  %>
              
          <hr class="line1">
  
          <h3 class="bio"><%=profile.bio%></h3>
  
          <hr class="line2">
          
        </div>
        
      </div>
  <div style="margin: 25px"></div>
      <a href="#" class="fa fa-github"></a>
              <a href="#" class="fa fa-globe"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-reddit"></a>
              <ul class="inline stats">
                  <li>
                    <span><%= bots.length %></span>
                    Bots
                 </li>
                 <li>
                    <span><%= profile.karma %></span>
                    Karma
                 </li>
                  <li>
                    <span>12</span>
                    Rank
                 </li>
             </ul>
      <div class="imgcon">
        <% if (bots.length == 0) { %>
     <div style="text-align:center;">
           <br> 

      <p style="font-size: 25px;color:white; padding: 10px;text-align: center;"><i class="fas fa-walking"></i>  This user hasn't listed any bots yet.</p>
     <br>
      </div>
   
      <%} else {%>  
        <div style="padding: 20px 20px 20px 20px">
        
            <div class="row">
              <% bots.forEach(theBot => { if (!bot.users.get(theBot.id)) bot.users.get(theBot.id) = { presence: { status: "offline" }, username: theBot.name  } %>
              <center><%- include("blocks/card.ejs", { theBot, bot }); %></center>
              <% }); %>
            </div>
            </div><% }; %>
      </div>
      
    </div>
  </div>
</center>
<script>
    $(window).scroll(function(){
      $("#bgd").css("opacity", 1 - $(window).scrollTop() / 1000);
    });
  </script>

<!------ Include the above in your HEAD tag 
<div class="container profile ">
  <div class="row">
    <div class="span12">
      <div class="well well-small clearfix  hero-bkg-animated"style="color:white;box-shadow:5px 5px 5px black">
        <div class="row-fluid">
          <div class="span2">
             <img src="<%= bot.users.get(discordUser.id).displayAvatarURL({ size:512 }); %>" class="img-raised rounded-circle img-fluid"/>         
          </div>
          <div class="span4">
             <h2><%=discordUser.username%></h2> 
            <ul class="unstyled">
                <% if (profile.certifiedDev) {%>
                  <li><i class="icon-keyboard"></i>Certified Developer</li>
                <% } else {%>
                  <li><i class="icon-keyboard"></i> Developer</li>
           <% }  %>
              <li><i class="fab fa-discord"></i> <%=discordUser.tag%></li>      

              <li><i class="icon-pencil"></i> <%=profile.bio%></li>
              <br>
              <a href="#" class="fa fa-github"></a>
              <a href="#" class="fa fa-globe"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-reddit"></a>
            </ul>
          </div>
          <div class="span6">
          <ul class="inline stats">
               <li>
                 <span><%= bots.length %></span>
                 Bots
              </li>
              <li>
                 <span><%= profile.karma %></span>
                 Karma
              </li>
               <li>
                 <span>12</span>
                 Rank
              </li>
          </ul>---------->
            <div><!--/span6-->
            </div><!--/row-->
          </div>
      <!--Body content
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>--><!--
<br><br><br><br><br>

<div class="container1 main-bkg" style="margin-left: 3%; margin-right: 3%;margin-top: 70px;margin-bottom: 20px;box-shadow:0 8px 16px 0 rgba(0, 0, 0, 1.2); color: #fff; border-radius: 30px">

88
      </div>
      </div>
      </div>

</div>-->
<style>

img{max-width:100%;width:auto\9;height:auto;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}



.parent {
  margin-top: -20px;
  width: 100%;
 /* height: 100%;*/
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.con {
  width: 92%;
  height: 100%;
  background: #194e55;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1.2px 5px 1px #333;
  box-shadow: 1px 1.2px 5px 1px #000;
  margin: 20px 0 200px 0;
  /*margin-bottom: 200px;*/
}

@media (max-width: 365px) {
  
}
.con1, .con2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.larrow {
  color: #EEF;
  font-size: 30px;
  position: relative;
  top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: 1s;
}

.larrow:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: 1s;
}

.ccross {
  background: #F9A938;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  top: 20px;
  margin-right: 10px;
}

.cross {
  color: #FFF;
  font-size: 35px;
  transition: 1s;
}

.cross:hover {
  color: #FFF;
  font-size: 35px;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
  transition: 1s;
}

.con2 {
  position: relative;
  top: 25px;
}

.follow {
  position: relative;
  left: 15px;
  top: 15px;
}

.followNum, .followingNum {
  color: #EEF;
  font-weight: 100;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: 'Oswald';
  font-size: 3vw;
}

.followH, .followingH {
  color: #BED2FF;
  font-weight: 100;
  margin-top: 30px;
  font-family: 'Nunito';
  font-size: 2vw;
}

.faceCon {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0px;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.face {
  color: #EEF;
  font-size: 35px;
}

.pro {
  height: 30px;
  width: 30px;
  background: #3CBFE9;
  border-radius: 50%;
  border: 4px solid #113438;

}

.lpro {
  color: #EEF;
  font-size: 13px;
}

.following {
  position: relative;
  right: 15px;
  top: 15px;
}

.con3 {
  margin-top: 50px;
  color: #EEF;
  text-align: center;
}

.name {
  font-weight: 100;
  font-family: 'Nunito';
  font-size: 19px;
  letter-spacing: 0.8px;
}

.loca {
  color: #BED2FF;
  font-weight: 100;
  letter-spacing: 0.8px;
  font-size: 15px;
  font-family: 'Oswald';
}

.line1, .line2 {
  position: relative;
  top: 10px;
  border: 1px solid #113438;
  width: 50px;
  margin: auto;
}

.bio {
  color: #EEF;
  font-weight: 100;
  letter-spacing: 0.8px;
  font-size: 17px;
  font-family: 'oswald';
  margin: 30px 0 15px 0;
}

.line2 {
  width: 230px;
}

.con4 {
  position: relative;
  top: 25px;
  margin-top: 15px;
}

ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  text-align: center;
}

li {
  flex: 1 1 auto;
  list-style: none;
  color:white;
}

.li1 {
  border-bottom: 1px solid #F6AB34;
}

.li2, .li3 {
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.li2:hover, .li3:hover {
  border-bottom: 1px solid #F6AB34;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #EEF;
  font-family: 'oswald';
}

.imgcon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  top: 25px;
  background-color: #0c2a2e;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

@media (max-width: 365px) {
  .imgcon {
    height: 100%;
  }
}

/*Invert*/
.invert {
  padding: 30px;
  width: 100px;
  position: fixed;
  color: #FFF;
  border-radius: 20%;
  font-size: 50px;
  cursor: pointer;
}

.invertI {
  color: #222;
}

.bioI {
  color: #222;
}

.alink {
  color: #222;
}

.imgconI {
  background: #DDD;
  transition: 1.5s ease;
}

.conI {
  background: #DDD;
  transition: 1.5s ease;
}

.proI {
  border: 4px solid #DDD;
  transition: 1.5s ease;
}

.followHI {
  color: #222;
}

.followNumI {
  color: #000;
}

.nameI {
  color: #000;
  font-weight: bold;
}

.locaI {
  color: #222;
}

.followingHI {
  color: #222;
}

.followingNumI {
  color: #000;
}

.larrowI {
  color: #000;
}

.faceConI {
  background: #34495e;
}

.line1I, .line2I {
  border: 1px solid #AAA;
}

</style>
</div></div></div></div></div></div></div></div></div></div>
<!--<div ><center><img  onclick="window.location.href ='/contact'" style="width:728px;height:90px;margin-bottom: 30px" src="https://www.resistivetechnosource.com/images/your_banner_here.png"></center></img></div>-->
<%- include('blocks/footer') %>
